* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.grid-selection {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pen-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.canvas-container {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    /* 600px + borders */
    width: 604px;
    height: 604px;
    border: 2px solid black;
    margin: 0;
}

/* style on divs created via js */
.square {
    border: 1px solid lightgrey;
    transition: background-color 0.3s; 
}

footer {
    display: flex;
    justify-content: center;
}
