* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.grid-selection {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#user-input {
    width: 40px;
}

button {
    font-size: small;
}

.pen-container {
    font-size: small;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: medium;
}

.canvas-container {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    /* 600px + borders */
    width: 604px;
    height: 604px;
    border: 2px solid black;
    margin: 0;
}

/* style on divs created via js */
.square {
    border: 1px solid lightgrey;
    transition: background-color 0.3s; 
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
}
